<!-- masters/templates/departments.html -->
{% extends 'base.html' %}

{% block title %}List of Departments{% endblock %}

{% block content %}

<div class="card shadow">
  <div class="card-header">
    <div class="d-sm-flex align-items-center justify-content-between">
        <h3 class="m-0 font-weight-bold text-primary">List of Departments</h3>
        <div class="col-lg-5">
          <form class="search-form" method="get" action="{% url 'departments' %}">
              <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search by name or code" value="{{ search_query }}">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-primary"><i class="fas fa-search fa-sm"></i></button>
                  </div>
              </div>
          </form>
        </div>


        <a href="{% url 'department_edit' department_id=0 %}" >
            <button type="button" class="btn btn-success">New</button>
        </a>

        <div class="d-flex">
            {# {% if departments.has_other_pages %} #}
              <div class="pagination">
                  <span class="step-links">
                      {% if departments.has_previous %}
                          <a href="?page=1">&laquo; first</a>
                          <a href="?page={{ departments.previous_page_number }}">previous</a>
                      {% endif %}
          
                      <span class="current">
                          Page {{ departments.number }} of {{ departments.paginator.num_pages }}
                      </span>
          
                      {% if departments.has_next %}
                          <a href="?page={{ departments.next_page_number }}">next</a>
                          <a href="?page={{ departments.paginator.num_pages }}">last &raquo;</a>
                      {% endif %}
                  </span>
              </div>
            {# {% endif %} #}
        </div>
  </div>
</div>

<div class="card-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Department Code</th>
        <th scope="col">Department Name</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      {% for department in departments %}
        <tr>
          <th scope="row">{{ add_to_loop|add:forloop.counter }}</th>
          <td>{{ department.code }}</td>
          <td><a href="{% url 'department_edit' department.id %}">{{ department.name }}</a></td>
          <!-- Add more columns as needed -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
