{% extends 'base.html' %}

{% block title %}
   {% if attendance_timetable_detail.id %} Edit Attendance
   {% else %} New Attendance
   {% endif %}
{% endblock %}

{% block content %}

<style>
  #details_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  #details_table th, #details_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #details_table th {
    background-color: #f2f2f2;
  }

  .add-row, .delete-row {
    cursor: pointer;
  }

  .add-row {
    color: #fff;
    background-color: #17a673;
    background-border: #169b6b;
  }

  .delete-row {
    color: #fff;
    background-color: #e74a3b;
    background-border: #e74a3b;
  }
</style>

<div class="card shadow">
  <div class="card-header">
<!-- Header Section -->
<div class="header d-flex justify-content-between align-items-center">
        <a href="{% url 'attendance_details' attendance_id %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i></a>

        <h3 class="m-0 font-weight-bold text-primary">
            {% if attendance_timetable_detail.id %} Attendance : {{ attendance_timetable_detail.attendance.department.name }} - {{ attendance_timetable_detail.attendance.enrollment_year.academic_year.academic_year }}
            {% else %} New Attendance
            {% endif %}
        </h3>

        <div class="d-flex">
        <!-- New Attendance Button -->
        <a href="{% url 'attendance_detail_edit' attendance_id=attendance_id attendance_timetable_detail_id=0 %}" >
            <button type="button" class="btn btn-success">New</button>
        </a>
    </div>
</div>
</div>

<div class="card-body">
<form method="post" action="{% if attendance_timetable_detail.id %}{% url 'attendance_detail_edit' attendance_id=attendance_id attendance_timetable_detail_id=attendance_timetable_detail.id %}{% endif %}" data-attendance-timetable-detail-id="{{ attendance_timetable_detail.id }}" enctype="multipart/form-data" style="flex-grow: 1;">
  {% csrf_token %}

  {% if attendance_timetable_detail.id %}
  
    <!-- Render form fields manually -->
    <div class="row mb-3">
      <div class="col-md-3">
        <label style="font-weight: bold;">Date</label><br>
        <p>{{ attendance_timetable_detail.attendance.date|date:"d-m-Y" }}</p>
      </div>
      <div class="col-md-3">
        <label style="font-weight: bold;">Department</label>
        <p>{{ attendance_timetable_detail.attendance.department.name }}</p>
      </div>
      <div class="col-md-2">
        <label style="font-weight: bold;">Section</label>
        <p>{{ attendance_timetable_detail.attendance.section.name }}</p>
      </div>
      <div class="col-md-2">
        <label style="font-weight: bold;">Academic Year</label>
        <p>{{ attendance_timetable_detail.attendance.enrollment_year.academic_year.academic_year }}</p>
      </div>
      <div class="col-md-2">
        <label style="font-weight: bold;">Weekday</label>
        <p>{{ attendance_timetable_detail.attendance.get_weekday_display }}</p>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-3">
        <label style="font-weight: bold;">Subject Name</label>
        <p>{{ attendance_timetable_detail.timetable_detail.subject_detail.name }}</p>
      </div>
      <div class="col-md-3">
        <label style="font-weight: bold;">Subject Code</label>
        <p>{{ attendance_timetable_detail.timetable_detail.subject_detail.code }}</p>
      </div>

      <div class="col-md-2">
        <label style="font-weight: bold;">Period No</label>
        <p>{{ attendance_timetable_detail.timetable_detail.period_no }}</p>
      </div>
      <div class="col-md-2">
        <label style="font-weight: bold;">Start Time</label>
        <p>{{ attendance_timetable_detail.timetable_detail.start_time|date:"H:i:s" }}</p>
      </div>
      <div class="col-md-2">
        <label style="font-weight: bold;">End Time</label>
        <p>{{ attendance_timetable_detail.timetable_detail.end_time|date:"H:i:s" }}</p>
      </div>
    </div>

  {% endif %}
    <!-- Render form fields manually -->
    <div class="row mb-3">
      {% for field in form %}
        <div class="col-md-12">
          <label for="{{ field.id_for_label }}" style="font-weight: bold;">{{ field.label }}</label>
          {{ field }}<br>
          <!-- You can add additional error handling here if needed -->
          {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>



  <!-- Attendance Details Table -->
  {{ attendance_timetable_detail_student_formset.management_form }}
  <table id="details_table" class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Student</th>
        <th>Date</th>
        <th>Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for form in attendance_timetable_detail_student_formset %}
        <tr>
          <td>{{ forloop.counter }}</td>
          {% for field in form %}
            {% if field.name == "id" or field.name == "attendance_type" %}
              <td style="display: none;">{{ field }}</td>
            {% else %}
              <td>{{ field }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}

      {% if attendance_detail_formset.non_form_errors %}
        <ul class="errorlist">
          {% for error in attendance_detail_formset.non_form_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

    </tbody>
  </table>

<hr>
  <div class="button-row mt-3">
    <button id="updateButton" type="submit" class="btn btn-success">{% if attendance_timetable_detail.id %}Update{% else %}Save{% endif %}</button>
    <a href="{% url 'attendance_details' attendance_id %}" class="btn btn-secondary ml-2">Cancel</a>
    {% if attendance_timetable_detail.id %}
      <button type="submit" name="delete" class="btn btn-danger ml-2 float-right" onclick="return confirm('Are you sure to delete?')">Delete</button>
    {% endif %}
  </div>
</form>
</div>


{% load static %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#details_table tbody tr:last').find('td:last').html('<button type="button" class="btn btn-success add-row"><i class="fa fa-plus"></i></button>');

    $(document).on('click', '.add-row', function() {
      // Check if any input in the current row has a missing or invalid value
      var inputsValid = $(this).closest('tr').find('input[type="text"], input[type="number"], input[type="date"], input[type="time"], select').filter(function() {
           if ($(this).closest('td').is(':nth-last-child(3)') && $(this).is('select')) {
           } else {
              return ($(this).is('select') && $(this).find('option:selected').index() === 0) || !$(this).val();
           } // Check if the input value is empty
      }).length === 0;

      if (inputsValid) {
        $(this).removeClass('btn btn-success add-row').addClass('btn btn-danger delete-row').html('<i class="fa fa-minus"></i>');

        var newRow = $(this).closest('tr').clone();
        newRow.find('td:first').text('-');
        newRow.find('input').val('');
        newRow.find('.delete-row').removeClass('btn btn-danger delete-row').addClass('btn btn-success add-row').html('<i class="fa fa-plus"></i>');

        $('#details_table').append(newRow);

        $('#details_table tbody tr:last').find('td:not(:first-child):not(:last-child)').each(function(index, td) {
          var inputElement = $(td).find('input, select');
          var currentName = inputElement.attr('name');
          var currentNumber = parseInt(currentName.match(/\d+/)[0]);
          var newNumber = currentNumber + 1;
          inputElement.attr('name', currentName.replace(currentNumber, newNumber));
          inputElement.attr('id', inputElement.attr('id').replace(currentNumber, newNumber));
        });

        $('#id_attendance_timetable_detail_students-TOTAL_FORMS').val($('#details_table tbody tr').length);
      }
    });

    $(document).on('click', '.delete-row', function() {
      $(this).closest('tr').remove();
      $('#id_attendance_timetable_detail_students-TOTAL_FORMS').val($('#details_table tbody tr').length);
      // $('#details_table tbody tr:last').find('.add-row').click();
    });



  });

</script>


{% endblock %}

